@if (this.todo) {
<mat-card appearance="outlined" class="todo-card">
  <mat-card-header>
    @if (this.todo.id) {
    <img mat-card-id [src]="this.todo.id" alt="Avatar for {{this.todo.owner}}" class="todo-id">
    }
    <mat-card-title class="todo-card-owner">{{ this.todo.owner }}</mat-card-title>
    <mat-card-subtitle class="todo-card-status">{{ this.todo.status }}</mat-card-subtitle>
  </mat-card-header>
  @if (!this.simple) {
  <mat-card-content>
    <p>body: <span class="todo-card-body">{{ this.todo.body }}</span></p>
    <p>category: <span class="todo-card-category">{{ this.todo.category }}</span></p>
    <p>_id: <a href="mailto:{{this.todo._id}}" class="todo-card-_id">{{this.todo._id}}</a></p>
  </mat-card-content>
  }
  @if (this.simple) {
  <mat-card-actions>
    <button mat-button data-test="viewProfileButton" [routerLink]="['/todos', this.todo._id]">View Profile</button>
  </mat-card-actions>
  }
</mat-card>
}
